@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body::-webkit-scrollbar {
  background-color: #ffffff;
  width: 0.4em;
}

body::-webkit-scrollbar-thumb {
  background-color: #b191dc;
  border-radius: 0.1em;
}

/* HEADER */
.p-3 {
  display: inline-block;
  background-color: #b191dc;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 20px;
}
.p-3 .container-fluid {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0% 1% 0% 1%;
}
.p-3 .text-end {
  display: flex;
  justify-content: end;
  justify-content: space-between;
}
.p-3 .text-end img {
  width: 25px;
}
.p-3 .text-end .menuItem {
  display: flex;
  position: end;
}

.banner-prin {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (min-width: 1000px) {
  .banner-prin img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .banner-prin img {
    display: none;
  }
  .banner-prin .imagen-b {
    margin: 100px;
  }
}

.login form {
  background-color: #b191dc;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
.login form label {
  display: block;
  margin-bottom: 10px;
}
.login form input[type=text],
.login form input[type=password] {
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
}
.login form input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login form input[type=button]:hover {
  background-color: #45a049;
}

.seccionProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: stretch;
}

.card {
  height: 25em;
  width: 20em;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cardImagen {
  position: relative;
  height: 21em;
  width: 20em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descrip {
  position: relative;
  height: 21em;
  width: 18em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImagen img {
  height: 80%;
  object-fit: cover;
}

.capa {
  position: relative;
  font-weight: bold;
  height: 21em;
  width: 18em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardFooter {
  height: 4em;
  width: 20em;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.cardFooter .verDetalles,
.cardFooter .precio {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b191dc;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.cardFooter .botonComprar {
  width: 20px;
  border: none;
  box-shadow: none;
}

.precio {
  font-size: 1.2em;
}

.verDetalles,
.botonComprar {
  cursor: pointer;
}

.verDetalles:hover,
.botonComprar:hover {
  background-color: #26428B;
  transition: 0.5s ease;
}

.cardFooterImagen {
  height: 1.25em;
}

.carritoClass {
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: right;
  width: 60%;
  top: 0;
  right: 0px;
  opacity: 0;
  z-index: -10;
}

.carritoClass:target {
  opacity: 1;
  z-index: 10;
}

.carritoClass.hidden {
  display: none;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.modalHeader {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #b191dc;
  color: #000000;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}
@media only screen and (max-width: 991px) {
  .modalHeader {
    padding-top: 240px;
  }
}

.modalHeaderTitle {
  font-family: "Carter One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  color: #000000;
}

.modalHeaderImagen {
  margin-left: 0.4em;
  height: 1.25em;
  width: 1.25em;
}

.modalHeaderButton {
  font-size: 1.5em;
  cursor: pointer;
  margin-left: auto;
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: all 0.5s ease;
}

.modalHeaderButton:hover {
  transform: scale(1.5);
}

.modalContent {
  flex-grow: 1;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  padding-left: 2em;
  padding-right: 1.4em;
}

.modalContent::-webkit-scrollbar {
  background-color: #ffffff;
  width: 0.3em;
}

.modalContent::-webkit-scrollbar-thumb {
  background-color: #b191dc;
  border-radius: 0.1em;
}

.modalProduct {
  display: flex;
  align-items: center;
  box-shadow: 1px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.modalProductImagen {
  display: inline-block;
  margin-right: 1em;
  height: 10em;
  width: 10em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modalProductImagen img {
  height: 100%;
  object-fit: cover;
}

.modalProductNombre {
  display: inline-block;
  margin-right: 0.5em;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.modalProductPrecio {
  font-weight: 1000;
  font-size: 0.8em;
  color: #000000;
}

.modalProductCantidad {
  display: inline-block;
  margin-left: 10px;
  background-color: #b191dc;
  max-height: 1.5em;
  min-height: 2em;
  max-width: 5em;
  min-width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.modalProductRestar {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.modalProductNumero {
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.modalProductSumar {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.modalProductTotal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-height: 1.5em;
  min-height: 1.5em;
  max-width: 8em;
  min-width: 8em;
}

.modalProductTotalPalabra {
  text-align: center;
  font-family: "Carter One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  color: #000000;
}

.modalProductTotalNumero {
  margin-left: 0.5em;
  text-align: center;
  font-weight: 1000;
  font-size: 0.8em;
  color: #000000;
}

.modalProductBorrar {
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.modalProductBorrar:hover {
  transform: scale(1.5);
}

.modalFooter {
  display: flex;
  margin-top: auto;
  width: 100%;
  text-align: center;
  font-size: 1px;
  background-color: #b191dc;
}

.modalFooterButton {
  width: 20%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #b191dc;
  border: none;
  box-shadow: none;
}

.modalFooterButtonPalabra {
  font-family: "Carter One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s ease;
}

.modalFooterButtonPalabra:hover {
  transform: scale(1.25);
}

.modalFooterTotal {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #b191dc;
}

.modalFooterTotalPalabra {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
}

.modalFooterTotalNumero {
  margin-left: 0.5em;
  font-weight: 1000;
  font-size: 1.25rem;
}

.arrowblue {
  display: inline-block;
  position: relative;
  top: 11em;
  left: 17em;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s ease;
  animation-name: opacidad;
  animation-duration: 7.5s;
}

@keyframes opacidad {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.arrowblue:hover {
  transform: scale(1.5);
}

.animacion1 {
  font-family: "Carter One", cursive;
  color: #001D3D;
  font-size: 1.5rem;
  position: relative;
  left: -20em;
  top: -0.25em;
}

.animacion2 {
  font-family: "Carter One", cursive;
  color: #001D3D;
  font-size: 1.5rem;
  position: relative;
  left: 30em;
  top: 0.25em;
}

.animacion3 {
  font-family: "Carter One", cursive;
  color: #001D3D;
  font-size: 1.5rem;
  position: relative;
  left: -20em;
  top: 0.75em;
}

.animacion4 {
  font-family: "Carter One", cursive;
  font-size: 1.5rem;
  color: #001D3D;
  position: relative;
  left: 27em;
  top: 1.25em;
}

.animacion1,
.animacion2,
.animacion3,
.animacion4 {
  opacity: 0;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}

.animacion1.translate {
  transform: translateX(24em);
  opacity: 1;
}

.animacion2.translate {
  transform: translateX(-22em);
  opacity: 1;
}

.animacion3.translate {
  transform: translateX(22em);
  opacity: 1;
}

.animacion4.translate {
  transform: translateX(-23em);
  opacity: 1;
}

.buscador {
  margin-left: 5em;
  margin-right: 5em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
}
@media only screen and (max-width: 900px) {
  .buscador {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Puedes ajustar esto según tus necesidades */
  }
}

.buscadorLabel {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0;
}

.buscadorLabel span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9em;
  padding: 0;
  margin: 0;
  background-color: #9260d3;
  font-family: "Carter One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  color: #ffffff;
  height: 2.5em;
  border-top-right-radius: 0.5em;
}

.buscadorLupa {
  margin-left: 0.25em;
  height: 0.8em;
  width: 0.8em;
}

select,
input {
  margin: 0;
  padding: 0;
  border: 2px solid #b191dc;
  background-color: white;
  font-size: inherit;
  font-family: inherit;
  height: 2.5em;
  border-bottom-left-radius: 0.5em;
}

.buscadorLabel select {
  width: 9em;
  text-align: center;
  background-color: #b191dc;
  font-family: "Carter One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  color: #ffffff;
}

.buscadorLabel input {
  width: 9em;
  text-align: center;
  background-color: #b191dc;
  overflow: hidden;
  font-family: "Carter One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  color: #ffffff;
}

/* CATEGORY */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 200px;
}
.categories .category {
  width: calc(25% - 20px);
  margin-bottom: 40px;
}
.categories .category img {
  z-index: -10;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  position: center;
  height: auto;
}
@media only screen and (max-width: 991px) {
  .categories .category {
    margin-top: 120px;
  }
}

.colap {
  overflow: hidden;
}

.seccion-productos {
  display: flex;
  flex-direction: row;
}

.category img {
  border-radius: 50%;
  width: 50%;
  overflow: hidden;
}
.category .card-img-top4 {
  border-radius: 50%;
  width: 60%;
}
@media only screen and (max-width: 1000px) {
  .category .card-img-top4 {
    width: 65%;
  }
}
@media only screen and (max-width: 850px) {
  .category h2 {
    font-size: 15px;
  }
  .category .card-img-top4 {
    width: 65%;
  }
}

/* COROUSEL */
.carouselt {
  margin-bottom: 4rem;
  position: relative;
  margin-top: 80px;
}
.carouselt carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.card-body h2 {
  font-size: 15px;
}
.card-body h3 {
  font-size: 20px;
}
.card-body .card-body-in {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  justify-content: space-between;
}
@media only screen and (max-width: 400px) {
  .card-body h2 {
    font-size: 10px;
  }
}

.myCarousel {
  top: 200px;
  width: 100%;
  height: 100%;
  margin-top: 90px;
}

/* COROUSEL */
.carouselt {
  font-size: 15px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: -230px;
}
.carouselt h2 {
  z-index: -10;
  margin-top: 200px;
  font-size: 30px;
  font-weight: 300;
}
.carouselt .row-1,
.carouselt .row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.carouselt .row-1 img,
.carouselt .row-2 img {
  z-index: -10;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  position: center;
  height: auto;
}
@media only screen and (max-width: 1000px) {
  .carouselt {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: -200px;
  }
  .carouselt .row-1,
  .carouselt .row-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .carouselt .row-1 img,
  .carouselt .row-2 img {
    max-width: 85%;
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .carouselt {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: -190px;
  }
  .carouselt .row-1,
  .carouselt .row-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .carouselt .row-1 img,
  .carouselt .row-2 img {
    max-width: 85%;
    height: auto;
  }
}
@media only screen and (max-width: 479px) {
  .carouselt {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: -150px;
  }
  .carouselt .row-1,
  .carouselt .row-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .carouselt .row-1 img,
  .carouselt .row-2 img {
    max-width: 85%;
    height: auto;
  }
  .carouselt .row-2 {
    margin-top: -100px;
  }
}

/* PERROS Y GATOS*/
@media only screen and (max-width: 991px) {
  .contenedor-s img {
    margin-top: 200px;
    margin-left: 90px;
  }
}
@media only screen and (max-width: 575px) {
  .contenedor-s img {
    margin-top: 200px;
    margin-left: 25px;
  }
}
.contenedor-s p {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.lead {
  overflow: hidden;
}

/*SERVICIOS */
@media only screen and (max-width: 991px) {
  .contenedor3 img {
    margin-left: 90px;
  }
}
@media only screen and (max-width: 575px) {
  .contenedor3 img {
    margin-left: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
