
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

body::-webkit-scrollbar {
    background-color: #ffffff;
    width: 0.4em;
}

body::-webkit-scrollbar-thumb {
    background-color: #b191dc;
    border-radius: 0.1em;
}
